/* Artificial Life styles */

$tablet-width: 768px;
$desktop-width: 1024px;

.container {
  margin: 0 0 100px;
}

body,
section,
.text-image,
.image-heavy {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4;
  font-style: normal;
  color: #444
}
h1 {
  font-size: 38px;
  text-transform: uppercase;
  color: #fff;
  margin: 25px 0;
}

h1.fine {
  font-family: "Karla", serif;
  font-weight: 200;
  font-size: 38px;
  text-transform: uppercase;
  color: #000;
}

h2 {
  font-size: 25px;
  text-transform: uppercase;
  color: #fff;
}
h3 {
  font-size: 24px;
  line-height: 1.6;
  text-transform: uppercase;
  text-align: center;
  color: #444;
  @media(min-width: $desktop-width) {
    font-size: 40px;
  }
}
h4 {
  font-size: 22px;
  line-height: 1.6;
  text-align: center;
  color: #444;
  margin: 20px 0 30px;
}

h3.contact-heading {
  // max-width: 210px;
  // margin: 30px auto 0;
  @media(min-width: $desktop-width) {
    max-width: 100%;
  }
}

a {
  color: #444;
  text-decoration: none;
}

hr  {
  width: 90%;
  margin-top: 32px;
  border-top: 1px solid #444;
  @media(min-width: $desktop-width) {
    display: none;
  }
}
.text-image {
  display: flex;
  flex-direction: column;
  @media(min-width: $desktop-width) {
    flex-direction: row;
  }
}
.text-image.reverse {
  @media(min-width: $desktop-width) {
    flex-direction: row-reverse;
  }
}
.image-heavy {
  height: 100vh;
}
.text-block,
.image-block {
  width: 100%;
  max-width: 100%;
}
.text-block {
  font-size: 20px;
  text-align: center;
  padding: 15px;
  box-sizing: border-box;
  img {
    max-width: 150px;
  }
  @media(min-width: $desktop-width) {
    max-width: 640px;
  }
}
.grey-bg {
  background-color:  #f2f3f2;
}
.image-block {
  position: relative;
  text-align: center;
  .hero-text {
    position: absolute;
    top: 40%;
    transform: translate(6%, -40%);
    @media(min-width: $desktop-width) {
      top: 45%;
      transform: translate(60%, -40%);
    }
  }
  .hero-text.hero-logo {
    @media(min-width: $desktop-width) {
      top: 45%;
      right: 10%;
      transform: translate(20%, -40%);
    }
  }
  img {
    width: 100%;
    min-height: 50vh;
    @media(min-width: $desktop-width) {
      min-height: -webkit-fill-available;
    }
  }
  .al-logo-sec {
    max-width: 125px;
    min-height: auto;
  }
}

.cyborg-woman {
  background-image: url('https://artificial.life.com.amberbantatua.com/images/beautiful-cyborg-main.png');
  width: 100%;
  min-height: 50vh;
}

.text-wrapper {
  padding: 25px 40px;
  margin: 20px 0;
  box-sizing: border-box;
  text-align: center;
  p {
    @media(min-width: $desktop-width) {
      max-width: 800px;
      margin: 50px auto 60px;
      font-size: 24px;
      line-height: 1.8;
    }
  }
}
.single-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 20px;
  @media(min-width: $desktop-width) {
    flex-direction: row;
    padding: 60px 0 80px;
  }
  .single-info-wrapper {
    max-width: 640px;
    @media(max-width: $tablet-width) {
      flex-direction: column;
    }
    .single-image-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 20px;
      @media(min-width: $tablet-width) {
        flex-direction: row;
        align-items: flex-start;
      }
      img {
        width: 300px;
      }
      .single-text {
        font-size: 18px;
        padding: 20px 36px;
        @media(min-width: $tablet-width) {
          font-size: 20px;
          padding: 0 20px;
        }
      }
    }
  }
}
.social-media-bg-wrapper {
  max-width: 1150px;
  margin: 0 auto;
  padding: 50px;
  p {
    text-align: center;
  }
}
.al-logo {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  img {max-width: 175px;}
}

ul.platform-list {
  list-style: none;
  margin-top: 35px;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 60px;
}

ul.social-list {
  list-style: none;
  margin-top: 35px;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  @media (max-width: $tablet-width) {
    flex-wrap: wrap;
    row-gap: 25px;
    column-gap: 20px;
  }
}

img.social-media-logo {
  max-width: 60px;
}

.single-music-video {
  max-width: 640px;
}

/* Media Queries */

